<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USER ID</key>
	<integer>10</integer>
	<key>URL API</key>
	<string>https://dev.actumstudio.com/api</string>
</dict>
</plist>
